*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(105, 204, 224);
    font-family: sans-serif;
    color: aliceblue;
}

:root {
    --img-height: 1800px;
    --site-blue: rgb(105, 204, 224);
}

/* WEATHER AND LOCATION */

.temp-main {
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: aliceblue;
}

.location,
.temp {
    height: 10vh;
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;   

}

.temp {
    flex-direction: row;
}

.degree-sec {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-sec span {
    margin: 10px;
    font-size: 30px;
}

.degree-sec {
    margin: 10px;
    font-size: 30px;
}


.degree-sec h2 {
    font-size: 40px;
}

/* DROPDOWN MENU GENDER SELECT */

.dropdown {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: aliceblue;
    font-size: 25px;
}

select {
    font-family: sans-serif;
    background-color: aliceblue;
    color: var(--site-blue);
    font-size: 25px;
    text-align: center;
    margin-left: 10px;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
    padding-left: 0px;
}

/* IMAGES */

.search-result {
    width: 1500px;
    columns: 3;
    column-gap: 1em;
    align-items: row;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    margin-top: 42px;
}

.search-result img {
    display: block;
    height: auto;
    max-width: 420px;
    min-width: 420px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
    cursor: pointer;
}



/* SHOW MORE BUTTON */

.show-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px auto 100px;
    cursor: pointer;
}

.show-more h2 {
    background: aliceblue;
    color: rgb(105, 204, 224);
    font-size: 30px;
}