*{
    box-sizing: border-box;
    background: rgb(105, 204, 224);
    font-family: sans-serif;
    color: aliceblue;
}

:root {
    --img-height: 1800px;
    --site-blue: rgb(105, 204, 224);
}

/* USER PROFILE LABEL */

.my-profile > h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-top: 30px;
    margin-right: 70px;
    cursor: pointer;
    transition-timing-function: ease-out;
    transition: font-size 0.2s;
}

.my-profile > h2 > a {
    text-decoration: none;
}

.my-profile > h2:hover {
    transition-timing-function: ease-out;
    transition: font-size 0.2s;
    font-size: 1.7em;
}


/* WEATHER AND LOCATION */

.temp-main {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: aliceblue;
}

.location,
.temp {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;   

}

.temp {
    flex-direction: row;
}

.degree-sec {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 1px;
}

.degree-sec span {
    margin: 10px;
    font-size: 30px;
}

.degree-sec {
    margin: 10px;
    font-size: 30px;
}

.timezone {
    font-size: 40px;
    margin: 10px;
}

@media only screen and (max-width: 450px) {
    .timezone {
        font-size: 30px;
    }
}

.degree-sec h2 {
    font-size: 40px;
}

/* DROPDOWN MENU GENDER SELECT */

.dropdown {
    margin: auto;
    font-family: sans-serif;
    color: aliceblue;
    font-size: 25px;
}

.dropdown-aligner {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

select {
    margin: 10px;
    font-family: sans-serif;
    background-color: aliceblue;
    color: var(--site-blue);
    font-size: 25px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
}

/* IMAGES */

.search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 30px;
    margin: auto 0;
    width: fit-content; 
    justify-content: center;
    margin-top: 50px;
}

.search-result img {
    width: clamp(100px, 40vw, 420px);
    border-radius: 10px;
    margin-bottom: 1em;
    cursor: pointer;
}



/* SHOW MORE BUTTON */

.show-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    border: 0;
    border-radius: 5px;
    margin: auto;   
    margin-top: 5px;
    cursor: pointer;
    height: 50px;
    width: 200px;
}

.show-more h2 {
    background: aliceblue;
    color: rgb(105, 204, 224);
    font-size: 30px;
    padding: 7.7px;
}

/* LOGIN / REGISTER PAGE */
/* logreg = login + register */



 /* PAGE NOT FOUND */

.page-not-found > h1 {  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}